<div id="homePage">
	<div class="container">
		<div class="row homePageRows">
			<div class="col-md-6">
				<h1>Help prevent pollution by controlling stormwater runoff.</h1>
				<h2>It's one of the greatest threats to clean water in America today.</h2>
				<h5>Whether you're an urban planner, developer, landscape architect, or homeowner, this tool can help you balance land developments and landscaping with the right amount of green infrastructure.</h5>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
						  <input type="text" class="form-control" ng-model="nameYourSite" placeholder="Name Your Site (Optional)">
						</div>
					</div>
				</div>
				<button ng-click="go('/location')" id="getStartedButton">Get Started ></button>
			</div>
			<div class="col-md-6 text-center">
				<iframe width="100%" height="350px" src="https://www.youtube.com/embed/ibZTm4_ZQxg" frameborder="0" allowfullscreen id="youtubeVideo"></iframe>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>