<div id="lidControlsModal">
    <div class="row">
        <div class="col-md-12">
            <h3>LID Controls</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-controller="modalCtrl">
                        <a data-toggle="collapse" href="javascript:void(0);" data-target="#collapse1" ng-click="openCloseDirections();"><h4 class="panel-title">Directions<i class="fa fa-chevron-right directionsIcon" aria-hidden="true"></i></h4></a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Enter the percentage of your site's impervious area would like to be treated by the listed LID Controls.</p>
                            <p>Click a practice to learn more about it or to change its design parameters.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#disconnectionModal" class="sliderLink">Disconnection:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='disconnectionSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="disconnectionValue" ng-model="disconnectionValue" ng-change="changeLIDSlider(disconnectionValue, 'disconnection')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#rainHarvestingModal" class="sliderLink">Rain Harvesting:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='rainHarvestingSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="rainHarvestingValue" ng-model="rainHarvestingValue" ng-change="changeLIDSlider(rainHarvestingValue, 'rainHarvesting')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#rainGardensModal" class="sliderLink">Rain Gardens:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='rainGardensSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="rainGardensValue" ng-model="rainGardensValue" ng-change="changeLIDSlider(rainGardensValue, 'rainGardens')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#greenRoofsModal" class="sliderLink">Green Roofs:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='greenRoofsSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="greenRoofsValue" ng-model="greenRoofsValue" ng-change="changeLIDSlider(greenRoofsValue, 'greenRoofs')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#streetPlantersModal" class="sliderLink">Street Planters:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='streetPlantersSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="streetPlantersValue" ng-model="streetPlantersValue" ng-change="changeLIDSlider(streetPlantersValue, 'streetPlanters')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#infiltrationBasinsModal" class="sliderLink">Infiltration Basins:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='infiltrationBasinsSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="infiltrationBasinsValue" ng-model="infiltrationBasinsValue" ng-change="changeLIDSlider(infiltrationBasinsValue, 'infiltrationBasins')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-4 control-label">
                <a data-toggle="modal" data-target="#permeablePavementModal" class="sliderLink">Permeable Pavement:</a>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-5">
                <input class="lidSlider" data-slider-id='permeablePavementSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="hide" />
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0" id="permeablePavementValue" ng-model="permeablePavementValue" ng-change="changeLIDSlider(permeablePavementValue, 'permeablePavement')">
                <span class="input-group-addon" id="sizing-addon2">%</span>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-5 control-label lidLink">
                <span>Design Storm for Sizing:</span>
            </label>
            <div class="col-xs-9 col-sm-7 col-md-4">
            </div>
            <div class="input-group input-group-sm sliderGroup lidSliderGroup col-xs-3 col-sm-2 col-md-3" id="designStormGroup">
                <input type="number" class="form-control sliderValue" aria-describedby="sizing-addon2" value="0.00" id="designStormValue" ng-model="designStormValue" ng-change="changeDesignStorm()">
                <span class="input-group-addon" id="sizing-addon2">in.</span>
            </div>
        </div>
    </form>
      <div class="row">
        <span class="helpLink" ng-click="help()">Help</span>
      </div>
</div>